/* popup.css */
:root {
    /* 主题颜色 */
    --theme-color: #3b86fb; /*蓝*/
    --theme-color-dark: #1d2e3a; /*黑*/
}

body {
    width: 200px;
    border: 1px solid #e6e6e6;
}

/* Header */
.header {
    background-color: var(--theme-color);
    padding: 3px;

    .site-logo {
        display: flex;
        align-items: center;

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        .name {
            color: #ffffff;
            font-size: 16px;
            /*text-shadow: 1px 1px 0 #3b86fb, -1px -1px 0 #3b86fb;*/
            font-weight: 300;
            line-height: 1; /*行高等于当前元素的 font-size 值*/
        }
    }
}

/* Container */
.container {
    width: 100%;
    background-color: #f0f0f0;
}

/*ul*/
.menu {
    list-style: none;  /**去掉默认的列表符号*/
    padding: 0;
    margin: 0;
}

/*li*/
.menuitem {
    /*display: flex;*/
    /*align-items: center;*/

    border-bottom: 1px solid #d7d7d7;
}

.menuitem img.icon {
    margin-right: 5px; /* 图标与文本之间的间距 */
}

.menuitem:hover {
    cursor: pointer; /**鼠标移动到元素上时，鼠标变为小手*/
    background-color: #90c8f6;
}


.container img {
    width: 20px;
    height: 20px;
}

/* Footer */
.footer {
    background-color: var(--theme-color);
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}